repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-yaml
        exclude: mkdocs.yml
      - id: end-of-file-fixer
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md"]
      - id: check-json
      - id: check-ast
  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1 # Fill in a tag / sha here
    hooks:
      - id: gitlint
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.6.3
    hooks:
      - id: ruff
        args: ["--ignore", "E501"]
      - id: ruff-format
