[tool.poetry]
name = "fastapi-tile38"
version = "0.1.0"
description = "Use Tile38 via FastAPI"
authors = ["Benjamin Ramser <legionaerr@googlemail.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.8"
fastapi = "^0.63.0"
pyle38 = "^0.6.1"
pydantic = {extras = ["dotenv"], version = "^1.9.1"}
fastapi-key-auth = "^0.6.0"

[tool.poetry.dev-dependencies]
pytest = "^7.1"
pre-commit = "^2.20.0"
black = "^22.6"
gitlint = "^0.17.0"
poethepoet = "^0.16.0"
isort = "^5.10.1"
pytest-cov = "^3.0.0"
flake8 = "^5.0.3"
uvicorn = "^0.18.2"
requests = "^2.28.1"
pytest-asyncio = "^0.19.0"
httpx = "^0.23.0"
mypy = "^0.971"

[mypy]
python_version = 3.8
ignore_missing_imports = true

[tool.poe.tasks]
test       = "poetry run pytest -vv --asyncio-mode=auto -s src/tests/"
test-cov   = "poetry run pytest -vv --asyncio-mode=auto -s --cov=fastapi-tile38 src/tests/"
mypy       = "poetry run mypy --ignore-missing-imports --config-file pyproject.toml"
lint       = "flake8 ."
up         = "docker-compose up"
down       = "docker-compose down"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
